<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr><th><label for="id_Airconditioning_temperature">空调温度:</label></th><td><input type="number" name="Airconditioning_temperature" value="21" required id="id_Airconditioning_temperature"></td></tr>
<tr><th><label for="id_Open_state">开启状态:</label></th><td><select name="Open_state" id="id_Open_state">
  <option value="unknown">Unknown</option>

  <option value="true" selected>Yes</option>

  <option value="false">No</option>

</select></td></tr>
<tr><th><label for="id_Abnormal_noise">异常噪音:</label></th><td><select name="Abnormal_noise" id="id_Abnormal_noise">
  <option value="unknown">Unknown</option>

  <option value="true">Yes</option>

  <option value="false" selected>No</option>

</select></td></tr>
<tr><th><label for="id_Airconditioning_Remarks">空调备注:</label></th><td><textarea name="Airconditioning_Remarks" cols="40" rows="10" required id="id_Airconditioning_Remarks">
a</textarea></td></tr>
</body>
</html>